@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-weight: 500;
}

.logo {
  width: 100%;
  height: 82px;
  display: block;
  padding: 2em 0;
}

.logo img {
  width: 100%;
  height: 100%;
  padding: 0 .5em;
  transform-origin: 50% 50%;
  animation: flip 10s forwards infinite ease;
  box-sizing: border-box;
}

.tableList {
  height: calc(100vh - 282px);
  overflow-x: hidden;
  overflow-y: auto;
}

.printLogo {
  display: none;
}

@keyframes flip {
  from {transform: rotateY(0);}
  25% {transform: rotateY(360deg);}
  to {transform: rotateY(360deg);}  
}


th:not(:first-child), td:not(.totalCell):not(:first-child) {
  text-align: center !important;
}

.statistics > div:nth-child(1) > div > div > div:nth-child(3) {
  text-align: center !important;
}

@media print {
  .printLogo {
    display: block;
    width: 250px;
  }

  tr {
    page-break-inside: avoid;
  }

  td, th {
    font-size: .5em !important;
  }

  table th,
  table td {
    width:  40px !important;
    height: 10px !important;
  }
  
  .totalCell {
    font-size: .9em !important;
    text-align: right !important;
  }
  * {
    overflow-x: hidden !important;    
  }
  #root > div > div:first-child,
  #root > div > div:last-child > form:nth-of-type(1) {
    display: none !important;
  }
  .table {
    position: initial !important;
  }
  .table > div > div + div {
    height: 100% !important;
  }

  /* removing checkbox for print */
  table > tbody > tr > td:first-child,
  table > thead > tr > th:first-child,
  button {
    display: none;
  }
}
